.hotel-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .hotel-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    width: 30%;
  }
  
  .hotel-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
  }
  
  .hotel-card h2 {
    color: #333;
  }
  
  .hotel-card p {
    font-size: 1rem;
  }
  
  .successMessage{
    color: green;
    font-style: italic;
  }